@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
section{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #007ACC;
}

h2, h3{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: #007ACC;
}

.navbar{
    padding: 1rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    justify-content:space-between;
}

.bi-chevron-right, .bi-filetype-css, .bi-filetype-html, .bi-filetype-js, .bi-filetype-php, .bi-mortarboard-fill{ 
    color: #007ACC;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
}
.icobandera{
    height: 25px;
    margin-right: 20px;

}

/*=========================FOOTER================================*/

footer {
    background: #007ACC;
    min-height: 100px;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
/*========================= FIN FOOTER================================*/

@media screen and (max-width:767px){ 
    .navbar-brand {
        display: none;
    }
}